* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.arrows{
    width:0;
    height:0;
    border-width: 30px;
    border-color: #5ef38c  #239cd3 #2b9720 #28fbff;
    border-style: solid;
}

.mx2{
    margin: 2rem;
}
.pies{
    border-radius: 50%;
}

.loading-wrapper{
   width: 300px;
   height: 300px;
   position: relative;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@keyframes circle {
    from {transform: rotate(0deg);}
    25% {transform: rotate(0deg);}
    50% {transform: rotate(-180deg);z-index: 3}
    75% {transform: rotate(-180deg);z-index: 3}
    to {transform: rotate(-360deg);}
}

@keyframes circleHalf {
    from {transform: rotate(0deg);}
    25% {transform: rotate(-180deg);}
    50% {transform: rotate(-180deg);z-index: 3}
    75% {transform: rotate(-180deg);z-index: 3}
    to {transform: rotate(-360deg);}
}

@keyframes circleHalf2 {
    from {transform: rotate(0deg);z-index:3}
    25% {transform: rotate(0deg);z-index: 3}
    50% {transform: rotate(0deg);z-index: 2}
    75% {transform: rotate(-180deg);z-index: 2}
    to {transform: rotate(-360deg);z-index: 3}
}

.half-circle{
    width: 0;
    height: 0;
    border-radius: 50px;
    position: absolute;
    left:100px;
    top:100px;
    border-width: 50px;
    border-style: solid;
}


.circle {
    border-color: rgb(251,139,189) rgb(251,139,189) rgb(255, 41, 140) rgb(255, 41, 140);
    animation: rotation 0.8s linear infinite;
}

.light-red {
    border-color: rgb(251,139,189) rgb(251,139,189) transparent transparent;
    animation: circleHalf 0.88s linear infinite;
}

.dark-red {
    border-color: rgb(255, 41, 140) rgb(255, 41, 140) transparent transparent;
    animation: circleHalf2 0.8s linear infinite;
}


.out-circle {
    width: 140px;
    height: 140px;
    border: 2px solid rgb(255, 41, 140);
    border-top-color:transparent;
    border-radius: 70px;
    animation: rotation 8s linear infinite;
    position: absolute;
    left: 80px;
    top: 80px;
}